body {
    margin: 1em 15em;
    font-family: 'Montserrat', sans-serif;
    /*
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center; 
    */
}

h1 {
    font-family: 'Playfair Display SC', serif;
}

p:first-of-type {
    width: 50%;
}

img {
    width: 100%;
    height: 30vw;
    border-radius: 5px;
    position: relative;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}

.content {
    width: 60%;
}

nav {
    display: inline-block;
    width: 20%;
    height: 18vw;
    border: solid 1px black;
    box-shadow: 0 1px 5px 0 black;
    padding: 0.2em;
    margin-top: 1em;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav ul li {
    line-height: 2em;
    list-style: none;
}

nav ul li::before {
    content:"";
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.iconsdb.com%2Ficons%2Fpreview%2Fgray%2Fclock-3-xxl.png&f=1&nofb=1");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: -0.2em;
}

ol {
    list-style: none;
    counter-reset: colored;
}

ol li {
    counter-increment: colored;
}

ol li::before {
    display: inline-block;
    content: counter(colored);
    color: black;
    background: rgb(245, 245, 40);
    width: 2em;
    height: 2em;
    z-index: -9;
    text-align: center;
    font-weight: 900;
    margin-right: 1em;
}

footer {
    color: gray;
    width: 100%;
    text-align: center;
}

footer a{
    color: gray;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    body {
        margin: 0 1em;
    }

    main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    p:first-of-type {
        width: 100%;
        font-size: 1em;
    }

    .content, nav {
        font-size: 0.8em;
        width: 100%;
    }

    nav {
        border: none;
        box-shadow: none;
        margin: 0 0 4em 0;
    }

    nav ul {
        padding: 0;
    }

    nav ul li {
        margin: 0 1em;
        padding: 0.9vw 2vw;
    }

    footer {
        font-size: 0.7em;
    }
}